<div align="center"><%= will_paginate @posts,renderer: BootstrapPagination::Rails%></div>
<%= render 'post', obj: @posts %>
<div align="center"><%= will_paginate @posts,renderer: BootstrapPagination::Rails%></div>